<?xml version="1.0" encoding="US-ASCII"?>
<launch>

  <!-- Run the map server -->
  <arg name="map_file" default="full_office.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(find victor_navigation)/maps/$(arg map_file)"/>

  <!--- Run AMCL -->
  <include file="$(find victor_navigation)/launch/amcl.launch" />

  <!--- Run Move Base -->
  <include file="$(find victor_navigation)/launch/move_base.launch" />

</launch>