<launch>

  <param name="/use_sim_time" value="true" />
  <include file="$(find victor_gazebo)/launch/victor_gazebo.launch"/>
  
  <!--- Run gmapping -->
  <include file="$(find victor_navigation)/launch/slam_gmapping.launch" />

  <!--- Run Move Base -->
  <include file="$(find victor_navigation)/launch/move_base.launch" />

</launch>